.container {
  width: 350px;
  height: auto;
  margin: 30px;
  border-radius: 15px;
  background-color: white;
  position: relative;
}

.container img {
  width: 98%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 3px;
  margin-left: 4px;
}

.popular {
  position: absolute;
  bottom: 250px;
  left: 0;
  background-color: #1952c5;
  color: aliceblue;
  font-family: "Poppins";
  font-weight: 500;
  font-size: small;
  padding: 5px 20px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.img-property {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag {
  background-color: aliceblue;
  font-family: "Poppins";
  color: #1952c5;
  margin-left: 10px;
  padding: 4px 6px;
  border-radius: 25px;
}
.heart {
  padding: 4px 6px;
  border-radius: 50%;
  background-color: aliceblue;
  color: #1952c5;
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  border-bottom: 0.5px dotted;
}
.location {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 200;
  margin-left: 10px;
}

.location svg {
  color: red;
}

.title {
  font-weight: 500;
  margin-left: 10px;
}

.details-rooms {
  display: flex;
  justify-content: space-around;
}

.room {
  display: flex;
  flex-direction: column;
}
.bottom {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.bottom button {
  background-color: inherit;
  color: #1952c5;
  border: 1px solid #1952c5;
  padding: 7px 15px;
  border-radius: 25px;
}
.price {
  color: #1952c5;
}
.price span {
  color: black;
}
